body {
  background-color: aqua;
}
li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: rgb(0, 255, 76);
}

.form-group {
  margin-bottom: 5px;
}
