@import url("https://fonts.googleapis.com/css2?family=Monoton&family=Shadows+Into+Light&display=swap");
* {
  font-family: "Monoton", cursive;
  font-family: "Shadows Into Light", cursive;
}
body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
li {
  padding: 10px;
  margin: 10px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  text-align: center;
  padding: 7px;
  margin: 7px;
  background: rgb(255, 72, 0);
}

h2 {
  text-align: center;
}
.form-group {
  text-align: center;
}
button {
  text-align: center;
}

.jumbotron {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
.card-img-top {
  display: block;
  margin: 0 auto;
}
