<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Burger Town!!</title>
		<script src="/assets/js/burgers.js"></script>
	</head>
	<body>
		{{{ body }}}
		
			<footer class=" center footer">
        <div class="container">
          <p> copyright © Burger Town App 2020 </p>
        </div>
      </footer>
	</body>
</html>
