<h1>BURGERS!</h1>

<h2>Burger is Saved</h2>

<ul>
  {{#each burgers}}
  {{#unless Devoured}}
  {{> burgers/burger-block Devoured=true}}
  {{/unless}}
  {{/each}}
</ul>

<h2>Burger is Devoured!</h2>

<ul>
  {{#each burger}}
  {{#if Devoured}}
  {{> burger/burger-block Devoured=false}}
  {{/if}}
  {{/each}}
</ul>

<h2>Eat a Burger</h2>
<form id="create-form">

  <div class="form-group">
    <label for="br">Burger:</label>
    <input type="text" id="br" name="name">
  </div>

   <button type="submit">Eat Burger</button>
   <button type="submit">Save Burger</button>
</form>